<div>
    <div>
        <form name="editForm">
            <h3>Edit account</h3>

            <input type="text" name="n_accountName" id="edit_accountName" ng-model="editSometing.accountDesc" placeholder="Account Name">
            <br />
            <input type="text" name="n_accountNumber" id="edit_accountNumber" ng-model="editSometing.accountNumber" placeholder="Account Number">
            <br />
            <input type="text" name="n_amount" id="edit_amount" ng-model="editSometing.amount" placeholder="Amount">
            <br />
            <input type="text" name="n_limit" id="edit_limit" ng-model="editSometing.limit" placeholder="limit">
            <br />
            <input type="text" name="n_extension" id="edit_extension" ng-model="editSometing.extension" placeholder="Extension Name">

            <button type="button" ng-click="finishedit()">Edit Account</button>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button"
                ng-click="close()">Close</button>
    </div>
</div>